@import "mixins";
@import "variables";

#article{
    grid-area: article;
    padding: 0 20px;
    .article__mobile{
        display: none;
    }
    .article__series{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 2em;
            @include noMobile
        }
        .article__seriesIMG{
            display: flex;
            flex-flow: row wrap;
            gap: 20px;
            .container {
                position: relative;
                width: 32%;
                cursor: pointer;
                overflow: hidden;
                &:hover .text {
                  visibility: visible;
                }
                
                &:hover img {
                  transform: scale(1.1);
                }
                .image {
                  width: 100%;
                  height: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: 0.5s ease;
                    }
                }
                
                 .text {
                   font-size: 1.2rem;
                   position: absolute;
                   top: 0;
                   left: 0;
                   background-color: rgb(0, 128, 183);
                   opacity: 0.8;
                   width: 100%;
                   height: 100%;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   flex-direction: column;
                   color: white;
                   visibility: hidden;
                   h3{
                    margin-bottom: 1.2rem;
                   }
                 }
              }
            }  
        .article__btn{
            margin: 15px 0;
            align-self: center;
        }
    }
}
