@import "variables";

#footer{
    padding: 10px 0;
    background: map-get($back-color,heaFoo );
    grid-area: footer;
    text-align: center;
    .footer__logo{
        a{
            img{
                width: 200px;
                transition: transform .5s;
                &:hover{
                   transform: scale(1.1); 
                }
            }
        }
    }
    .footer__redes{
        margin: 20px 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        a{
            text-decoration: none;
            img{
                width: 45px;
                transition: all .5s;
                &:hover{
                    width: 55px;
                }
            }
        }
    }
    .footer__txt{
        font-size: 1.2em;
        line-height: 10px;
    }
}