@import "variables";
@import "mixins";

/* TABLET */

/* TABLET */
@include tablet{
    #header{
        grid-template-columns: 1fr 4fr;       
        .header__logo{
            padding: 5px 10px;
        }
        .header__nav{
            ul{
                padding: 10px;
                gap: 10px;
                border: none;
                li{
                    a{
                        font-size: 1.6em;
                        @media (min-width:601px) and (max-width:700px){
                            &{
                                font-size: 1.2em;}
                        }
                    }
                }
               
            }
        }
        .header__login{
            display: none;
        }
    }
    #footer{
        @media (min-width:601px) and (max-width:700px) {
            &{
                .footer__logo{
                    a{
                        img{
                            width: 130px;
                        }
                    }
                }
                .footer__redes{
                    a{
                        img{
                            width: 30px;
                        }
                    }
                }
                .footer__txt{
                    p{
                        font-size: .8em;
                    }
                }
            }
        }
    }
}

/* MOBILE */
@media (max-width:$mobile) {
    #header{
        border: none;
        display: flex;
        flex-direction: column;
        .header__logo{
            padding: 5px 0;
            h1{
                font-size: 1em;
            }
            img{
                width: 100px;
            }
        }
        .header__nav{
          ul{
            border: none;
            margin: 0%;
            gap: 0;
            li{
                padding: 5px;
                border:2px solid black;
                background:map-get($back-color, mobile );
                width: 100%;
                text-align: center;
                a{
                    font-size: 1em;
                }
            }
          }
        }
        .header__login{
            display: none;
        }
    }

    #footer{
        padding: 10px;
        display: grid;
        grid-template-areas: 
        "logo redes"
        "logo txt";
        .footer__logo{
            grid-area: logo;
            a{
                img{
                    width: 150px;
                }
            }
        }
        .footer__redes{
            grid-area: redes;
            padding: 10px;
        }
        .footer__txt{
            grid-area: txt;
            p{
                font-size: 0.9em;
            }
        }
    }
    .boton{
        padding: 5px;
    }
 }
