@import "variables";
@import "mixins";

#section{
    background-color: rgb(39, 156, 235);
    grid-area: section;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .section__principal{
        h3{
            font-size: 2.5em;
        }
        .section__principalIMG{
            margin-right: 10px;
            .contenedor{
                position: relative;
                width: 100%;
                overflow: hidden;
                .image{
                    width: 100%;
                    height: 100%;
                    img{
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .5s ease;
                        }
                    }
                .text{
                    padding: 25px;
                    font-size: 1rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.48);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: end;
                    flex-direction: column;
                    color: white;
                    visibility: hidden;
                    h3{
                      color: rgb(249, 105, 9);
                    }
                    p{
                        font-size: 1.5em;
                      font-weight:bolder ;
                      color: rgb(253, 251, 251);
                    }
                    }
                &:hover .text{
                    visibility: visible;
                    }
                &:hover img{
                    transform: scale(1.1);
                    opacity: 25%;
                }
                }
        }
    }
    .section__noticias{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        .section__noticiasIMG{
            div{
                border: 3px solid black;
                margin-bottom: 10px;
                padding: 10px;
                background:map-get($back-color, sectionDiv );
                display: flex;
                flex-direction: row;
                gap: 10px;
                transition: all .2s;
                &:hover{
                transform: scale(1.02);
                    }
                @include Mobile{
                    img{
                        width: 150px;
                    }
                }
                p{
                    background: map-get($back-color, sectionP);
                    margin: 0%;
                    border: $border;
                }
            }
        }
    .section__noticiasBtn{
        align-self: center;
        margin: 10px;
    }
    }
}