.boton {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(0, 225, 255);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.3s;
}
.boton:hover {
  background: rgb(21, 157, 175);
  transform: scale(1.1);
}

body {
  background: rgb(160, 224, 237) !important;
  display: grid;
  grid-template-areas: "header header header" "main main aside" "article article aside" "section section section" "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, auto);
}

@keyframes gurren {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(21600deg);
  }
}
#header {
  border-bottom: 3px solid black;
  background: rgb(14, 149, 211);
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#header .header__logo {
  align-self: center;
  text-align: center;
}
#header .header__logo h1 {
  font-size: 1.8em;
  font-weight: 500;
}
#header .header__logo img {
  width: 130px;
  animation-name: gurren;
  animation-duration: 1s;
  /*             animation-iteration-count: 10;
   */
}
#header .header__logo :hover {
  color: white;
}
#header .header__nav ul {
  height: 100%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
  padding: 0%;
}
#header .header__nav ul li a {
  color: black;
  font-size: 1.8em;
  font-weight: 450;
  text-decoration: none;
  transition: all 0.2s;
}
#header .header__nav ul li a:hover {
  color: white;
}
#header .header__login {
  align-self: center;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#header .header__login input {
  margin: 0%;
  border-radius: 10px;
  font-size: 1.2em;
}

#main {
  grid-area: main;
  margin: 20px;
}
#main h3 {
  font-size: 3em;
}
#main .carousel .contenedor {
  width: 100%;
}
#main .carousel .contenedor .image img {
  border-radius: 5px;
}
#main .carousel .contenedor .text {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  color: white;
  visibility: hidden;
  padding: 50px 70px;
  transition: all 0.2s;
}
#main .carousel .contenedor .text h3 {
  margin-bottom: 1.2rem;
  color: black;
  font-size: 3em;
}
#main .carousel .contenedor .text a {
  font-size: 1em;
  font-weight: bolder;
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(101, 181, 224);
  color: rgb(252, 87, 17);
  text-decoration: none;
}
#main .carousel:hover .text {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.45);
}
@media (max-width: 560px) {
  #main {
    display: none;
  }
}

#article {
  grid-area: article;
  padding: 0 20px;
}
#article .article__mobile {
  display: none;
}
#article .article__series {
  display: flex;
  flex-direction: column;
}
#article .article__series h3 {
  font-size: 2em;
}
@media (max-width: 560px) {
  #article .article__series h3 {
    display: none;
  }
}
#article .article__series .article__seriesIMG {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
#article .article__series .article__seriesIMG .contenedor {
  position: relative;
  width: 32%;
  overflow: hidden;
}
#article .article__series .article__seriesIMG .contenedor .image {
  width: 100%;
  height: 100%;
}
#article .article__series .article__seriesIMG .contenedor .image img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
#article .article__series .article__seriesIMG .contenedor .text {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 166, 250, 0.474);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  visibility: hidden;
}
#article .article__series .article__seriesIMG .contenedor .text h3 {
  color: white;
  margin-bottom: 1.2rem;
}
#article .article__series .article__seriesIMG .contenedor .text a {
  font-weight: bolder;
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(255, 255, 255);
  color: rgb(212, 7, 7);
  text-decoration: none;
}
#article .article__series .article__seriesIMG .contenedor:hover .text {
  visibility: visible;
}
#article .article__series .article__seriesIMG .contenedor:hover img {
  transform: scale(1.1);
}
#article .article__series .article__btn {
  margin: 15px 0;
  align-self: center;
}

#aside {
  grid-area: aside;
  margin: 0 10px;
}
@media (max-width: 560px) {
  #aside {
    background-color: rgb(39, 156, 235);
    margin: 0%;
  }
}
#aside .aside__cronograma {
  display: flex;
  flex-direction: column;
}
@media (max-width: 560px) {
  #aside .aside__cronograma {
    display: none;
  }
}
#aside .aside__cronograma h3 {
  padding: 10px;
  font-size: 2em;
  margin: 0%;
  border-left: 3px solid black;
}
#aside .aside__cronograma .crono__div {
  background: rgb(62, 204, 220);
  border: 3px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#aside .aside__cronograma .crono__div div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: all 0.5s;
  overflow: hidden;
}
#aside .aside__cronograma .crono__div div:hover {
  transform: scale(1.02);
  background-color: rgb(21, 182, 182);
}
#aside .aside__cronograma .crono__div div a {
  text-decoration: none;
  color: black;
  width: 100%;
}
#aside .aside__cronograma .crono__div div a h3 {
  padding-left: 0;
  border: none;
}
#aside .aside__cronograma .crono__div div a:hover {
  color: white;
}
#aside .aside__cronograma .crono__div div img {
  width: 30%;
}
#aside .aside__cronograma .aside__cronogramaBtn {
  align-self: center;
  margin: 15px 0;
}
#aside .aside__notificacion {
  border: 3px solid black;
  background-color: rgb(62, 204, 220);
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#aside .aside__notificacion .aside2__form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#aside .aside__notificacion .aside2__form label {
  font-size: 1.5em;
}
#aside .aside__notificacion .aside2__form #enviar {
  width: 100px;
}
#aside .aside__notificacion img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#section {
  background-color: rgb(39, 156, 235);
  grid-area: section;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#section .section__principal h3 {
  font-size: 2.5em;
}
#section .section__principal .section__principalIMG {
  margin-right: 10px;
}
#section .section__principal .section__principalIMG .contenedor {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#section .section__principal .section__principalIMG .contenedor .image {
  width: 100%;
  height: 100%;
}
#section .section__principal .section__principalIMG .contenedor .image img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
#section .section__principal .section__principalIMG .contenedor .text {
  padding: 25px;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  color: white;
  visibility: hidden;
}
#section .section__principal .section__principalIMG .contenedor .text h3 {
  color: rgb(249, 105, 9);
}
#section .section__principal .section__principalIMG .contenedor .text p {
  font-size: 1.5em;
  font-weight: bolder;
  color: rgb(253, 251, 251);
}
#section .section__principal .section__principalIMG .contenedor:hover .text {
  visibility: visible;
}
#section .section__principal .section__principalIMG .contenedor:hover img {
  transform: scale(1.1);
  opacity: 25%;
}
#section .section__noticias {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
#section .section__noticias .section__noticiasIMG div {
  border: 3px solid black;
  margin-bottom: 10px;
  padding: 10px;
  background: rgb(67, 189, 220);
  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: all 0.2s;
}
#section .section__noticias .section__noticiasIMG div:hover {
  transform: scale(1.02);
}
@media (max-width: 560px) {
  #section .section__noticias .section__noticiasIMG div img {
    width: 150px;
  }
}
#section .section__noticias .section__noticiasIMG div p {
  background: rgb(151, 239, 255);
  margin: 0%;
  border: 3px solid black;
}
#section .section__noticias .section__noticiasBtn {
  align-self: center;
  margin: 10px;
}

#footer {
  padding: 10px 0;
  background: rgb(14, 149, 211);
  grid-area: footer;
  text-align: center;
}
#footer .footer__logo a img {
  width: 200px;
  transition: transform 0.5s;
}
#footer .footer__logo a img:hover {
  transform: scale(1.1);
}
#footer .footer__redes {
  margin: 20px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#footer .footer__redes a {
  text-decoration: none;
}
#footer .footer__redes a img {
  width: 45px;
  transition: all 0.5s;
}
#footer .footer__redes a img:hover {
  width: 55px;
}
#footer .footer__txt {
  font-size: 1.2em;
  line-height: 10px;
}

/* RESPONSIVE */
@media (max-width: 560px) {
  body {
    grid-template-areas: "header" "article" "section" "aside" "footer";
    grid-template-columns: 1fr;
    /*         grid-template-rows: repeat(5,auto)
     */
  }
  #header {
    border: none;
    display: flex;
    flex-direction: column;
  }
  #header .header__logo {
    padding: 5px 0;
  }
  #header .header__logo h1 {
    font-size: 1em;
  }
  #header .header__logo img {
    width: 100px;
  }
  #header .header__nav ul {
    border: none;
    margin: 0%;
    gap: 0;
  }
  #header .header__nav ul li {
    padding: 5px;
    border: 2px solid black;
    background: rgb(8, 191, 191);
    width: 100%;
    text-align: center;
  }
  #header .header__nav ul li a {
    font-size: 1em;
  }
  #header .header__login {
    display: none;
  }
  #article .article__mobile {
    display: block;
    font-size: 2em;
    margin: 10px 0;
  }
  #article .article__series .article__seriesIMG .contenedor {
    width: 48%;
  }
  #article .article__series .article__seriesIMG .contenedor .image {
    width: 100%;
  }
  #article .article__series .article__seriesIMG .contenedor .image img {
    width: 100%;
  }
  #section {
    display: flex;
    flex-direction: column;
  }
  #aside .aside__notificacion {
    margin: 10px 20px;
  }
  #footer {
    padding: 10px;
    display: grid;
    grid-template-areas: "logo redes" "logo txt";
  }
  #footer .footer__logo {
    grid-area: logo;
  }
  #footer .footer__logo a img {
    width: 150px;
  }
  #footer .footer__redes {
    grid-area: redes;
    padding: 10px;
  }
  #footer .footer__txt {
    grid-area: txt;
  }
  #footer .footer__txt p {
    font-size: 0.9em;
  }
  .boton {
    padding: 5px;
  }
}/*# sourceMappingURL=main.css.map */