@charset "UTF-8";
@keyframes gurren {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(21600deg);
  }
}
body {
  padding: 0px;
  margin: 0px;
  background: rgb(160, 224, 237) !important;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.boton {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(0, 225, 255);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
}
.boton:hover {
  background: rgb(21, 157, 175);
}

@keyframes gurren {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(21600deg);
  }
}
#header {
  border-bottom: 3px solid black;
  background: rgb(14, 149, 211);
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#header .header__logo {
  align-self: center;
  text-align: center;
}
#header .header__logo h1 {
  font-size: 1.8em;
  font-weight: 500;
}
#header .header__logo img {
  width: 130px;
  animation-name: gurren;
  animation-duration: 1s;
  /*             animation-iteration-count: 10;
   */
}
#header .header__logo :hover {
  color: white;
}
#header .header__nav ul {
  height: 100%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
  padding: 0%;
}
#header .header__nav ul li a {
  color: black;
  font-size: 1.8em;
  font-weight: 450;
  text-decoration: none;
  transition: all 0.2s;
}
#header .header__nav ul li a:hover {
  color: white;
}
#header .header__login {
  align-self: center;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#header .header__login input {
  margin: 0%;
  border-radius: 10px;
  font-size: 1.2em;
}

/* Main GENERAL */
.main {
  padding: 10px 40px;
  grid-area: main;
}

.mainAnime h2 {
  font-size: 3em;
  margin: 1% 0;
}
.mainAnime .mainAnime__serie {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.mainAnime .mainAnime__serie .contenedor {
  position: relative;
  width: 32%;
  overflow: hidden;
}
.mainAnime .mainAnime__serie .contenedor .image {
  width: 100%;
  height: 100%;
}
.mainAnime .mainAnime__serie .contenedor .image img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}
.mainAnime .mainAnime__serie .contenedor .text {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(48, 166, 250);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  visibility: hidden;
}
.mainAnime .mainAnime__serie .contenedor .text a {
  font-weight: bolder;
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(255, 255, 255);
  color: rgb(212, 7, 7);
  text-decoration: none;
}
.mainAnime .mainAnime__serie .contenedor:hover .text {
  visibility: visible;
}
.mainAnime .mainAnime__serie .contenedor:hover img {
  transform: scale(1.1);
}
@media (max-width: 560px) {
  .mainAnime {
    flex-direction: column;
    padding: 5px 20px;
  }
  .mainAnime h2 {
    font-size: 2em;
  }
  .mainAnime .mainAnime__serie {
    margin-bottom: 10px;
  }
  .mainAnime .mainAnime__serie .contenedor {
    width: 48%;
  }
  .mainAnime .mainAnime__serie .contenedor .main__img {
    row-gap: 20px;
  }
  .mainAnime .mainAnime__serie .contenedor .main__img img {
    height: 150px;
  }
}

.mainNoticias .main__video h2 {
  font-size: 3em;
  margin: 1% 0;
}
.mainNoticias .main__video .main__iframe {
  width: 75%;
}
.mainNoticias .main__video .main__iframe iframe {
  width: 100%;
  height: 700px;
}
.mainNoticias .main__noticias h3 {
  font-size: 35px;
}
.mainNoticias .main__noticias .main__noticiasDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.mainNoticias .main__noticias .main__noticiasDiv div {
  background-color: rgb(18, 204, 204);
  width: 48%;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  gap: 30px;
  font-size: 20px;
  transition: all 0.4s;
}
.mainNoticias .main__noticias .main__noticiasDiv div:hover {
  transform: scale(1.05);
}
.mainNoticias .main__noticias .main__noticiasDiv div img {
  width: 30%;
}
@media (max-width: 560px) {
  .mainNoticias {
    padding: 5px 20px;
  }
  .mainNoticias .main__video h2 {
    font-size: 2em;
  }
  .mainNoticias .main__video .main__iframe {
    width: 100%;
  }
  .mainNoticias .main__video .main__iframe iframe {
    height: 400px;
  }
  .mainNoticias .main__noticias {
    margin: 10px 0;
  }
  .mainNoticias .main__noticias .main__noticiasDiv {
    flex-direction: column;
  }
  .mainNoticias .main__noticias .main__noticiasDiv div {
    width: 100%;
  }
}

.container-fluid {
  padding: 10px 40px;
}
.container-fluid h2 {
  font-size: 3em;
  margin: 1% 0;
}
@media (max-width: 560px) {
  .container-fluid h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
}
.container-fluid .tamaño {
  height: 445px;
  overflow-y: scroll;
}
.container-fluid .tamaño .dias {
  background-color: rgb(110, 198, 252);
  border-radius: 10px;
  border: 1px solid #000000;
  text-align: center;
}
.container-fluid .tamaño .dias a {
  font-size: 20px;
  margin: 0% 2%;
}
.container-fluid .tamaño div h3 {
  font-size: 2em;
}
.container-fluid .tamaño div .apila {
  display: flex;
}
.container-fluid .tamaño div .apila .list {
  text-decoration: none;
  color: black;
  width: 20%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.container-fluid .tamaño div .apila .list:hover {
  transform: scale(1.05);
  background-color: rgb(0, 136, 255);
}
.container-fluid .tamaño div .apila .list img {
  width: 100%;
}
.container-fluid .tamaño div .apila .list div {
  min-width: 200px;
}
.container-fluid .tamaño div .apila .list div h4 {
  margin: 0%;
}
.container-fluid .tamaño div .apila .list div p {
  margin: 0%;
}
@media (max-width: 560px) {
  .container-fluid .tamaño .dias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .container-fluid .tamaño div .apila {
    flex-direction: column;
  }
  .container-fluid .tamaño div .apila .list {
    flex-direction: row;
    gap: 10px;
  }
  .container-fluid .tamaño div .apila .list img {
    width: 150px;
  }
}

.mainContacto {
  padding: 10px;
}
.mainContacto .welcome {
  margin-top: 10px;
  text-align: center;
  line-height: 3em;
}
.mainContacto .welcome img {
  width: 33%;
  min-width: 300px;
  border-radius: 20px;
}
.mainContacto .welcome .text1 {
  font-size: 1.5em;
}
.mainContacto .welcome .text2 {
  display: none;
}
.mainContacto #mensaje {
  background-color: rgb(93, 194, 201);
  border-radius: 20px;
  padding: 10px;
}
@media (max-width: 560px) {
  .mainContacto .welcome .text1 {
    display: none;
  }
  .mainContacto .welcome .text2 {
    display: block;
    font-size: 2em;
  }
}

#footer {
  padding: 10px 0;
  background: rgb(14, 149, 211);
  grid-area: footer;
  text-align: center;
}
#footer .footer__logo a img {
  width: 200px;
  transition: transform 0.5s;
}
#footer .footer__logo a img:hover {
  transform: scale(1.1);
}
#footer .footer__redes {
  margin: 20px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#footer .footer__redes a {
  text-decoration: none;
}
#footer .footer__redes a img {
  width: 45px;
  transition: all 0.5s;
}
#footer .footer__redes a img:hover {
  width: 55px;
}
#footer .footer__txt {
  font-size: 1.2em;
  line-height: 10px;
}

@media (max-width: 560px) {
  #header {
    border: none;
    display: flex;
    flex-direction: column;
  }
  #header .header__logo {
    padding: 5px 0;
  }
  #header .header__logo h1 {
    font-size: 1em;
  }
  #header .header__logo img {
    width: 100px;
  }
  #header .header__nav ul {
    border: none;
    margin: 0%;
    gap: 0;
  }
  #header .header__nav ul li {
    padding: 5px;
    border: 2px solid black;
    background: rgb(8, 191, 191);
    width: 100%;
    text-align: center;
  }
  #header .header__nav ul li a {
    font-size: 1em;
  }
  #header .header__login {
    display: none;
  }
  #footer {
    padding: 10px;
    display: grid;
    grid-template-areas: "logo redes" "logo txt";
  }
  #footer .footer__logo {
    grid-area: logo;
  }
  #footer .footer__logo a img {
    width: 150px;
  }
  #footer .footer__redes {
    grid-area: redes;
    padding: 10px;
  }
  #footer .footer__txt {
    grid-area: txt;
  }
  #footer .footer__txt p {
    font-size: 0.9em;
  }
  .boton {
    padding: 5px;
  }
}/*# sourceMappingURL=pages.css.map */